.mainbody {
  width: 80%;
  margin: auto;
  margin-bottom: 1em;
  flex-grow: 1;
}
.even-container {
  margin-top: 4em;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 30px;
}
@media (max-width: 660px) {
  .even-container {
    justify-content: center;
  }
}
