.filter {
  padding-top: 1em;
}
.filter-tag img {
  width: 25px;
  height: 25px;
}
.filter-tag span {
  padding: 0 0.5em;
  font-weight: bold;
  font-size: 1.5em;
}
.filter-tag {
  display: flex;
  padding-bottom: 1em;
}
.event-search {
  margin-left: auto;
}
.radio {
  font-size: 1.2em;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
.radio > div {
  display: flex;
  align-items: center;
}
.bookmarktag {
  margin-left: auto;
}
.seats {
  margin-left: auto;
}
.searchIcon {
  height: 25px;
  width: 25px;
  padding-left: 1em;
}
.event-search {
  display: flex;
  align-items: center;
}
