.nav-container {
  width: 100%;
  box-sizing: border-box;
  background-color: black;
}

.navbar {
  font-family: 'Big Shoulders Display', cursive;
  display: flex;
  width: 80%;
  margin: auto;
  color: white;
}
.navbar > div {
  padding: 0.3em 0;
  font-size: 2.5em;
  font-weight: 500;
  justify-content: flex-start;
  cursor: pointer;
}
