.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
  background-color: black;
  border-style: none;
  border-radius: 10px;
  color: white;
  padding-bottom: 1em;
}
.image {
  border-radius: 10px;
  overflow: hidden;
  height: 130px;
  border-bottom: 2px solid gray;
}
.event-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: 'Sofia Sans', sans-serif;
}
.image img {
  width: 100%;
  object-fit: contain;
}
.event-text {
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  padding: 0.5em;
}
.event-title {
  font-family: 'Big Shoulders Display', cursive;
  height: 30px;
  font-weight: bold;
  font-size: 1.3em;
}
.event-description {
  font-weight: 300;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.event-venue,
.event-date span {
  font-weight: 600;
}
.event-venue {
  font-weight: 300;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.event-date {
  font-weight: 300;
}
.reactions {
  padding: 0.5em;
  height: 40px;
  display: flex;
  align-items: center;
}
.reactions .bookmark-container {
  margin-left: auto;
}
.checked {
  filter: invert(92%) sepia(5%) saturate(2585%) hue-rotate(68deg)
    brightness(94%) contrast(103%);
  height: 30px;
  width: 30px;
}
.circleCross {
  filter: invert(92%) sepia(35%) saturate(5352%) hue-rotate(298deg)
    brightness(125%) contrast(86%);
  height: 30px;
  width: 30px;
}
.registered {
  display: flex;
  align-items: center;
  color: #a0f3ad;
}
.registered span {
  padding-left: 0.5em;
}
.availability {
  display: flex;
  align-items: center;
  color: #ececab;
}
.availability span {
  padding-left: 0.5em;
}
.register-button {
  display: flex;
  justify-content: center;
}
.register-button button {
  border-style: none;
  background-color: white;
  color: black;
  font-weight: 900;
  border-radius: 5px;
  padding: 0.5em;
}
